<footer class="footer">
    <div class="f-social">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-x-twitter"></i>
        <i class="fa-brands fa-youtube"></i>
    </div>
    <div class="f-company">
        &copy;WanderLust Private Limited
    </div>
    <div class="f-links">
        <a href="/privacy">Privacy</a>
        <a href="/terms">Terms</a>
        <a href="/sitemap">Sitemap</a>
        <a href="/company_detail">Company Detail</a>
    </div>
</footer>