<footer class="footer">
    <div class="f-social">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-x-twitter"></i>
        <i class="fa-brands fa-youtube"></i>
    </div>
    <div class="f-company">
        &copy;StayHere Private Limited
    </div>
    <div class="f-links">
        <a>Privacy</a>
        <a >Terms</a>
        <a >Sitemap</a>
        <a >Company Detail</a>
    </div>
</footer>